* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}
.nav {
    color: white;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  rgb(40, 184, 216);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav a {
    color:white;
}
.nav li {
    padding: 5px;
}
.nav li:hover {
    background-color: rgb(92, 92, 89);
}
.data-list {
    margin-left: 60%;
}
.data-list li {
    display: inline-block;
    margin-left: 30px;

}
.logo {
    margin-left: 30px;
}
.list {
    display: none;
    background-color:  rgb(40, 184, 216);
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.list li {
    display: block;
    margin-bottom: 10px;
    color: white;
}
.data-list a{
    text-decoration: none;
}
.wisata:hover .list{
    display: block;
}

/*header*/

.header {
    display: flex;
    margin-bottom: 100px;
}
.des-header {
  
   width: 40%; 
   margin: auto;
}
.des-header h1{
   font-family: 800%;
   font-size: 6rem;
   width: 80%;
   color: rgb(40, 184, 216);
}
.gambar {
    width: 40%;
    height: 100vh;
}
.gambar img {
    width: 100%;
    height: 100%;
}

/*---------class block------*/


.bg-block {
    width: 90%;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
}
.block:hover {
    box-shadow: 0px 0px 20px rgb(40, 184, 216);
    transition: 300ms;
}
.block {
    width: 250px;
    height: 300px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 50px;
}
.gambar-block {
    width: 250px;
    height: 200px;
    overflow: hidden;
}
.gambar-block img {
    width: 100%;
    height: 100%;
}
.des-block {
    padding:  5px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.bg-block a {
    text-decoration: none;
}
.des-block h3 {
    margin-bottom: 10px;
}
.des-block p {
    line-height: 25px;
    color: #333;
}
.block:hover img {
    transform: scale(1.5);
    transition: 2s;
}
/* baground footer */
.bg-footer {
    
    height: 20vh;
    background-color: rgb(40, 184, 216);
    text-align: center;
    color: whitesmoke;
    padding-top: 15vh;
}
