{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/amed.css' %}">
    <title>webme</title>
</head>
<body>
    <!----------start nav---------->
    <div class="nav">
        <div class="logo">
            <h2>logo</h2>
        </div>
        <ul  class="data-list">
            <a href="#"><li>Home</li></a>
            <a href="#"><li class="wisata">Wisata

                <ul class="list">
                    <a href="amed/"><li>Amed</li></a>
                    <a href="#"><li>Pandawa</li></a>
                    <a href="#"><li>Melasti</li></a>
                    <a href="#"><li>Kuta</li></a>
                    <a href="#"><li>Jimbaran</li></a>
            </li>
        </a>
        </ul>
    </div>
    <!-------finish nav-------->

    <!---------header---------->

<div class="header">
    <div class="des-header">
        <h1>Pantai Amed</h1>
    </div>
    <div class="gambar">
        <img src="{% static 'img/amed.webp' %}">
        </div>
    </div>
</div>

     <!---------header selesai-->
     <!--------container---------->
        <div class="container">
            <div class="content">
                <h2>Pantai Amed</h2>
                <p>Pantai Amed adalah sebuah daerah pantai yang terletak di timur laut Bali, Indonesia.
                     Pantai ini terkenal karena keindahan alam bawah lautnya,
                     terutama sebagai tempat snorkeling dan menyelam. 
                     Berbeda dengan beberapa pantai di Bali yang memiliki ombak besar dan pasir putih, 
                     Pantai Amed memiliki pantai berbatu hitam yang menambah pesonanya.
                     Pada dasarnya, Amed adalah nama untuk sekelompok desa nelayan kecil di pesisir timur Bali, termasuk Desa Amed, Bunutan, Jemeluk, dan beberapa desa lainnya. Meskipun dikenal sebagai Pantai Amed, sebenarnya terdapat beberapa spot penyelaman menakjubkan di sekitar area ini, seperti Jemeluk Bay, Lipah, dan Tulamben.Salah satu daya tarik utama di Pantai Amed adalah keberadaan bangkai kapal USS Liberty di Tulamben. Kapal perang Amerika ini tenggelam selama Perang Dunia II dan sekarang menjadi situs penyelaman populer di Indonesia. Wisatawan juga dapat menikmati panorama matahari terbit di Pantai Amed, karena lokasinya yang menghadap ke timur.</p>
            </div>
        </div>
        <!-------- finish  container---------->


     <!---------start footer--------->
<div class="bg-footer">
    <P>BAGIAN 02</P>
</div>

     <!---------start footer--------->
</body>
</html>