{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travelling</title>
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
</head>
<body>

    <header>
        <h1>Beach bali</h1>
    </header>
    <nav>
        <div class="navbar">
            <div class="logo">
                <!--<a href="#">Beach Bali</a>-->
                <img src="{% static 'img/bali.png' %}"alt="100">
                <h1>Beach Bali</h1>
            </div>
            <ul class="menu">
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Destinasi</a></li>
                <li><a href="#">Tiket wisata</a></li>
                <li><a href="#">Kontak</a></li>
            </ul>
        </div>
    </nav>
    <mani>
        <section class="destinati">

        </section>
    </mani>
</body>
</html>