{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>webme</title>
</head>
<body>
    <!----------start nav---------->
    <div class="nav">
        <div class="logo">
            <h2>logo</h2>
        </div>
        <ul  class="data-list">
            <a href="#"><li>Home</li></a>
            <a href="#"><li class="wisata">Wisata

                <ul class="list">
                    <a href="amed/"><li>Amed</li></a>
                    <a href="#"><li>Pandawa</li></a>
                    <a href="#"><li>Melasti</li></a>
                    <a href="#"><li>Kuta</li></a>
                    <a href="#"><li>Jimbaran</li></a>
                    <a href="#"><li>Dreamland</li></a>
                    <a href="#"><li>Guide</li></a>
                    <a href="#"><li>Kelingking</li></a>
                </ul>

            </li></a>

            <a href="#"><li>Tiket Harga</li></a>
            <a href="#"><li>Informasi</li></a>
        </ul>
    </div>
    <!-------finish nav-------->

    <!---------header---------->

<div class="header">
    <div class="des-header">
        <h1>Wisata Pantai Bali</h1>
    </div>
    <div class="gambar">
        <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/6-kukup-beach-java-joana-kruse.jpg">

        </div>
    </div>
</div>

     <!---------header selesai-->
     <!---------start block---------->
     <!--------------BLOCK 2------------->
     <div class="bg-block">
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/amed.webp' %} ">
                </div>
                <div class="des-block">
                    <h3>Pantai Amed</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div>
        </a> 
        <!---------------BLOCK 2------------->
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/pandawa.webp' %} ">
                </div>
                <div class="des-block">
                    <h3>Pantai Pandawa</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div>
        </a> 
        <!---------------BLOCK 3------------->
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/Melasti.jpg' %} " >
                </div>
                <div class="des-block">
                    <h3>Pantai Melasti</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div> 
        </a> 
        <!---------------BLOCK 4------------->
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/Kuta.jpg' %} ">
                </div>
                <div class="des-block">
                    <h3>Pantai Kuta</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div>
        </a> 
        <!---------------BLOCK 5------------->
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/jimbaran.jpg' %} ">
                </div>
                <div class="des-block">
                    <h3>Pantai Jimbaran</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div>
        </a> 
        <!---------------BLOCK 6------------->
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/Dreamland.jpg' %} ">
                </div>
                <div class="des-block">
                    <h3>Pantai Dreamland</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div>
        </a>
        <!---------------BLOCK 7-------------> 
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/Guide.jpg' %} ">
                </div>
                <div class="des-block">
                    <h3>Pantai Guide</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div>
        </a>
        <!---------------BLOCK 8-------------> 
        <a href="#">
            <div class="block">
                <div class="gambar-block">
                    <img src=" {% static 'img/kelingking.jpg' %} ">
                </div>
                <div class="des-block">
                    <h3>Pantai Kelingking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.!</p>   
                </div>
            </div>
        </a> 
     </div>

     <!---------finish block--------->




     <!---------start footer--------->
<div class="bg-footer">
    <P>BAGIAN</P>

</div>

     <!---------start footer--------->





</body>
</html>