{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jimbaran.css' %}">
    <title>webme</title>
</head>
<body>
    <!----------start nav---------->
    <div class="nav">
        <div class="logo">
            <h2>logo</h2>
        </div>
        <ul  class="data-list">
            <a href="#"><li>Home</li></a>
            <a href="#"><li class="wisata">Wisata

                <ul class="list">
                    <a href="#"><li>Amed</li></a>
                    <a href="#"><li>Pandawa</li></a>
                    <a href="#"><li>Melasti</li></a>
                    <a href="#"><li>Kuta</li></a>
                    <a href="jimbaran/"><li>Jimbaran</li></a>
            </li>
        </a>
        </ul>
    </div>
    <!-------finish nav-------->

    <!---------header---------->

<div class="header">
    <div class="des-header">
        <h1>Pantai Jimbaran</h1>
    </div>
    <div class="gambar">
        <img src=" {% static 'img/jimbaran.jpg' %}">
        </div>
    </div>
</div>

     <!---------header selesai-->


          <!--------container---------->
          <div class="container">
            <div class="content">
                <h2>Pantai Jimbaran</h2>
                <p>Ya, Pantai Jimbaran juga merupakan salah satu pantai yang terletak di Bali, Indonesia. Pantai    ini terletak di sebelah selatan Bandara Internasional Ngurah Rai dan memiliki pasir putih yang      indah. Pantai Jimbaran terkenal karena suasana yang lebih tenang dan santai dibandingkan dengan beberapa pantai lain di Bali.

                    Selain keindahan pantainya, Jimbaran juga dikenal sebagai tempat yang bagus untuk menikmati hidangan laut, terutama makanan laut segar seperti ikan dan udang. Di sepanjang pantai, terdapat banyak warung dan restoran yang menyajikan hidangan laut lezat dengan suasana yang romantis, terutama saat matahari terbenam.
                    
                    Pantai Jimbaran juga memiliki ombak yang lebih tenang, membuatnya cocok untuk berenang dan kegiatan air lainnya. Karena keindahan alamnya dan berbagai fasilitas yang tersedia di sekitarnya, Pantai Jimbaran menjadi destinasi populer bagi wisatawan yang mencari pengalaman pantai yang santai di Bali..</p>
            </div>
        </div>
        <!-------- finish  container---------->
     



     <!---------start footer--------->
<div class="bg-footer">
    <P>BAGIAN 06</P>
</div>

     <!---------start footer--------->
</body>
</html>