{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kuta.css' %}">
    <title>webme</title>
</head>
<body>
    <!----------start nav---------->
    <div class="nav">
        <div class="logo">
            <h2>logo</h2>
        </div>
        <ul  class="data-list">
            <a href="#"><li>Home</li></a>
            <a href="#"><li class="wisata">Wisata

                <ul class="list">
                    <a href="#"><li>Amed</li></a>
                    <a href="#"><li>Pandawa</li></a>
                    <a href="#"><li>Melasti</li></a>
                    <a href="kuta/"><li>Kuta</li></a>
                    <a href="#"><li>Jimbaran</li></a>
                </ul>

            </li>
        </a>
        </ul>
    </div>
    <!-------finish nav-------->

    <!---------header---------->

<div class="header">
    <div class="des-header">
        <h1>Pantai Kuta</h1>
    </div>
    <div class="gambar">
        <img src=" {% static 'img/Kuta.jpg' %} ">
        </div>
    </div>
</div>

     <!---------header selesai-->

     <!--------container---------->
     <div class="container">
        <div class="content">
            <h2>Pantai Kuta</h2>
            <p>Ya, Pantai Kuta adalah sebuah pantai yang terletak di bagian selatan Bali, Indonesia. Pantai ini terkenal karena keindahan pasir putihnya, ombak yang cocok untuk berselancar, dan pemandangan matahari terbenam yang spektakuler. Pantai Kuta juga merupakan salah satu destinasi wisata populer di Bali, menarik wisatawan dari berbagai belahan dunia.

                Selain keindahan alamnya, Pantai Kuta juga dikenal sebagai pusat kegiatan pariwisata dengan adanya berbagai fasilitas seperti hotel, restoran, bar, dan pusat perbelanjaan di sekitarnya. Meskipun memiliki daya tarik sebagai tujuan liburan, Pantai Kuta juga memiliki ombak yang cukup kuat, sehingga perlu diingat untuk tetap berhati-hati saat berenang atau berselancar di sana.</p>
        </div>
    </div>
    <!-- classs container selesai -->
     



     <!---------start footer--------->
<div class="bg-footer">
    <P>BAGIAN 05</P>
</div>

     <!---------start footer--------->





</body>
</html>