{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pandawa.css' %}">
    <title>webme</title>
</head>
<body>
    <!----------start nav---------->
    <div class="nav">
        <div class="logo">
            <h2>logo</h2>
        </div>
        <ul  class="data-list">
            <a href="#"><li>Home</li></a>
            <a href="#"><li class="wisata">Wisata

                <ul class="list">
                    <a href="#"><li>Amed</li></a>
                    <a href="pandawa"><li>Pandawa</li></a>
                    <a href="#"><li>Melasti</li></a>
                    <a href="#"><li>Kuta</li></a>
                    <a href="#"><li>Jimbaran</li></a>
                </ul>
            </li>
        </a>
        </ul>
    </div>
    <!-------finish nav-------->

    <!---------header---------->

<div class="header">
    <div class="des-header">
        <h1>Pantai Pandawa</h1>
    </div>
    <div class="gambar">
        <img src="{% static 'img/pandawa.webp' %}">
        </div>
    </div>
</div>

     <!---------header selesai-->

          <!--------container---------->
          <div class="container">
            <div class="content">
                <h2>Pantai Pandawa</h2>
                <p>Pantai Pandawa di Bali adalah sebuah destinasi pantai yang terletak di selatan pulau tersebut. Awalnya dikenal sebagai Secret Beach atau Pantai Tersembunyi, pantai ini kini dikenal sebagai Pantai Pandawa. Berikut adalah gambaran singkat tentang Pantai Pandawa:Akses: Dapat diakses melalui jalan raya yang melewati bukit-bukit kapur. Akses menuju pantai telah ditingkatkan untuk kenyamanan wisatawan.
                    Ciri Khas: Terkenal dengan pasir putihnya yang halus dan dikelilingi oleh tebing-tebing kapur yang indah.                   
                    Patung Pandawa Lima: Menampilkan patung besar yang menggambarkan lima karakter dari epik Mahabharata, yaitu Yudhishthira, Bhima, Arjuna, Nakula, dan Sahadeva.                    
                    Fasilitas Wisatawan: Terdapat warung-warung pantai, tempat penyewaan perlengkapan air, dan area parkir untuk kenyamanan pengunjung.                   
                    Aktivitas: Menawarkan berbagai aktivitas wisata, termasuk berjemur, berenang, dan berbagai kegiatan air seperti menyewa perahu atau banana boat.                    
                    Atmosfer: Meskipun semakin populer, Pantai Pandawa tetap mempertahankan atmosfer yang relatif tenang dan santai.                    
                    Pantai Pandawa menjadi destinasi yang diminati karena keindahan alamnya, keberadaan patung Pandawa Lima, serta suasana yang santai dan terpencil dibandingkan dengan beberapa pantai utama di Bali..</p>
            </div>
        </div>
        <!-------- finish  container---------->
     



     <!---------start footer--------->
<div class="bg-footer">
    <P>BAGIAN 03</P>

</div>

     <!---------start footer--------->





</body>
</html>